* {
  font-family: ArialN;
  font: 18px/1.5;
  padding: 2px 6px;
}

body {
  margin: 0;
  background-image: url("../images/fondBlindtestHomeSongPlaying.jpg");
  background-attachment: fixed;
  background-size: cover;
}

mark {
  background-color: --$lightPink;
  color: --$blue;
}

strong {
  background-color: --$blue;
  color: --$lightSalmon;
}

